.bigText{
	font-size:50px;
}

.welcomeBox{
    max-width:1200px;
    width: calc( 100% - 80px );
    height: auto;
    min-width: auto;
    box-sizing: border-box;
    padding: 20px;
    margin: 0px auto;
    display:flex;
    flex-flow:wrap;
    /* background-color: rgb(11, 11, 12); */
}

.welcomeBoxElement{
    height: 20vw;
    width: 20vw;
    max-width: 20vw;
    min-width: 150px;
    min-height: 150px;
    margin: auto;
    position: relative;
    /* background-color: rgb(142, 142, 142, 0.5); */
    overflow: hidden;
    border-radius: 20px;
}

.title{
    font-size:.75em;
}

.containerbox{
    /* button */
    height: 100% !important;
    width: 100% !important;
    /*margin: 50px;*/
    outline: none;
    border:none;
    background-color: rgb( 255, 255, 0 );
    padding: 0px !important;
    line-height: normal;
    cursor: pointer;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.containerbox:hover{
    background:rgba(255, 255, 255 );
}

.containerbox > h1 {
    color: #000 !important;
}

.containerbox > h2 {
    color: #000 !important;
}

@media (max-width: 450px){
    .welcomeBox{
        max-width:1200px;
        width: calc(100%-80px);
        height: auto;
        min-width: auto;
        padding: 20px;
        margin: 0px auto;
        display:flex;
        flex-flow:wrap;
        /* background-color: rgb(11, 11, 12); */
    }
    .welcomeBoxElement{
        width: 75vw !important;
        height: 75vw !important;
        min-width: 75vw !important;
        min-height: 75vw !important;
        margin:10px auto;
        position: relative;
        border-radius: 20px;
    }
}

@media (min-width: 451px) and (max-width:600px){
    .welcomeBox{
        max-width:600px !important;
        width: 100% !important;
        box-sizing: border-box !important;
        height: auto;
        min-width: auto;
        padding: 20px;
        margin: 0px auto;
        display:flex;
        flex-flow:wrap;
        /* background-color: rgb(11, 11, 12); */
    }
    .welcomeBoxElement{
        height: 38vw;
        width: 38vw;
        max-width: 38vw;
        min-width: 100px;
        min-height: 100px;
        margin: 15px auto;
        position: relative;
        border-radius: 20px;
    }
}

@media (min-width: 601px) and (max-width:800px){
    .welcomeBox{
        max-width:800px;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        min-width: auto;
        padding: 20px;
        margin: 0px auto;
        display:flex;
        flex-flow:wrap;
        /* background-color: rgb(11, 11, 12); */
    }
    .welcomeBoxElement{
        height: 41vw;
        width: 41vw;
        max-width: 41vw;
        min-width: 200px;
        min-height: 200px;
        margin: 15px auto;
        position: relative;
        border-radius: 20px;
    }
}

@media (min-width:801px){
    .welcomeBox{
        max-width:1200px;
        width: calc(100%-80px);
        height: auto;
        min-width: 801px;
        box-sizing: border-box;
        padding: 20px;
        margin: 0px auto;
        display:flex;
        flex-flow:wrap;
    }
    
    .welcomeBoxElement{
        height: 20vw;
        width: 20vw;
        max-width: 280px;
        max-height: 280px;
        min-width: 150px;
        min-height: 150px;
        margin: 15px auto;
        position: relative;
        border-radius: 20px;
    }
}

.contractBox{
    height:50px;
    width:fit-content;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 0px 10px 0px 0px;
    background-color: rgb(11, 11, 12);
    border: solid #222 1px;
    border-radius: 5px;
    padding: 0px 10px;
}

.contractBox:hover{
    background-color: #111;
}

.contractBox > img{
    height:20px;
    margin: 15px 5px;
}

.contractBox > span {
    color: #fff;
    height: 100%;
    line-height: 20px;
    margin: 15px 0px;
}