.bigText{
	font-size:50px;
}

.welcomeBox{
    max-width:1200px;
    width: calc(100%-80px);
    height: auto;
    min-width: auto;
    padding: 20px;
    margin: 0px auto;
    display:flex;
    flex-flow:wrap;
    background-color: rgb(11, 11, 12);
}

.welcomeBoxElement{
    height: 20vw;
    width: 20vw;
    max-width: 20vw;
    min-width: 150px;
    min-height: 150px;
    margin: auto;
    position: relative;
    background-color: #999;
    overflow: hidden;
    border-radius: 20px;
}

.title{
    font-size:.75em;
}

@media (max-width: 450px){
    .welcomeBox{
        max-width:1200px;
        width: calc(100%-80px);
        height: auto;
        min-width: auto;
        padding: 20px;
        margin: 0px auto;
        display:flex;
        flex-flow:wrap;
        background-color: rgb(11, 11, 12);
    }
    .welcomeBoxElement{
        width: 75vw !important;
        height: 75vw !important;
        min-width: 75vw !important;
        min-height: 75vw !important;
        margin:10px auto;
        position: relative;
        border-radius: 20px;
    }
}

@media (min-width: 451px) and (max-width:600px){
    .welcomeBox{
        max-width:1200px;
        width: calc(100%-80px);
        height: auto;
        min-width: auto;
        padding: 20px;
        margin: 0px auto;
        display:flex;
        flex-flow:wrap;
        background-color: rgb(11, 11, 12);
    }
    .welcomeBoxElement{
        height: 38vw;
        width: 38vw;
        max-width: 38vw;
        min-width: 100px;
        min-height: 100px;
        margin: 15px auto;
        position: relative;
        border-radius: 20px;
    }
}

@media (min-width: 601px) and (max-width:800px){
    .welcomeBox{
        max-width:1200px;
        width: calc(100%-80px);
        height: auto;
        min-width: auto;
        padding: 20px;
        margin: 0px auto;
        display:flex;
        flex-flow:wrap;
        background-color: rgb(11, 11, 12);
    }
    .welcomeBoxElement{
        height: 42vw;
        width: 42vw;
        max-width: 42vw;
        min-width: 200px;
        min-height: 200px;
        margin: 15px auto;
        position: relative;
        border-radius: 20px;
    }
}

@media (min-width:801px){
    .welcomeBox{
        max-width:1200px;
        width: calc(100%-80px);
        height: auto;
        min-width: auto;
        padding: 20px;
        margin: 0px auto;
        display:flex;
        flex-flow:wrap;
        background-color: rgb(11, 11, 12);
    }
    .welcomeBoxElement{
        height: 20vw;
        width: 20vw;
        max-width: 290px;
        max-height: 290px;
        min-width: 150px;
        min-height: 150px;
        margin: 15px auto;
        position: relative;
        border-radius: 20px;
    }
}

.contractBox{
    height:50px;
    width:fit-content;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 0px 10px 0px 0px;
    background-color: rgb(11, 11, 12);
    border: solid #222 1px;
    border-radius: 5px;
    padding: 0px 10px;
}

.contractBox:hover{
    background-color: #111;
}

.contractBox > img{
    height:20px;
    margin: 15px 5px;
}

.contractBox > span {
    color: #fff;
    height: 100%;
    line-height: 20px;
    margin: 15px 0px;
}