@font-face{
    font-family:'tahoma';
    src:url('../fonts/tahoma.ttf');
}

@font-face{
    font-family:'tahoma';
    src:url('../fonts/tahomabd.ttf') format('truetype');
    font-weight:bold;
} 

code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
	width: 100% !important;
	max-width: 100% !important;
	margin: 0px !important;
	border: 0px !important;
    outline: none;
	text-decoration: none !important;
	padding: 0px;
	clear: both;
	height: 100%;
	font-size:13px;
    background-color: rgb(1, 1, 1);
	background: url("../public/yaadfavicon_bg.svg") no-repeat center center fixed;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    -ms-user-select: none;
    -ms-touch-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    scrollbar-color: rgb(10, 11, 12);
    scrollbar-width: thin;
}

select {
    /*margin: 50px;*/
    border: 3px solid rgb(10, 11, 11);
    background: transparent;
    width: 100%;
    padding: 0px 0px 0px 3px;
    font-size: 12px;
    height: 35px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background: url('../images/site%20resources/shirt.svg') 96% / 10px no-repeat #fff; */
}

option {
    /*margin: 50px;*/
    background: transparent;
    width: auto;
    margin: 10px auto;
    padding: 10px auto;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.scroller{
    scrollbar-color: rgb(10, 11, 12);
    scrollbar-width: thin;
}

::-webkit-scrollbar{
    width: 7.5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(10, 11, 12);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(190, 190, 190);
    border-radius: 3.75px;
}

button:hover { background: yellow; border:none; color: #000;}

label:hover { background: yellow; border:none; color: #000;}

/* CAUTION: IE hackery ahead */
select::-ms-expand { display: none; /* remove default arrow in IE 10 and 11 */ }

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0) {
    select {
        background:none;
        padding: 5px;
    }
}

a{
    user-select: none;
    text-decoration: none;
}

img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

text { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* svg { width: 40%; height: 35px; } */

.inactive{
    display: none !important; visibility: hidden !important; 
}

.active{
    display: none !important; visibility: hidden; opacity: 0; width: 0px; height: 0px !important; overflow: hidden !important;
}

.errorbox{
    z-index: 1800 !important;
    padding: 5px !important;
    box-sizing: border-box;
    width:fit-content;
    position: absolute;
    /* top: 20px; */
    right: 20px !important;
    max-width: 200px;
    min-width: 150px;
    height:fit-content;
    user-select: none;
    background-color: rgb(196, 27, 24);
    border:none;
    border-radius: 15px;
}

.errorbox:after {
	bottom: 100%;
	left: 25px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(196, 27, 24, 0);
	border-bottom-color: rgb(196, 27, 24);
	border-width: 10px;
	margin-left: -10px;
}

.errHeader{
    padding:2px 0px 5px 0px;
    color:#F00000;
    font-weight:400;
    font-size: 10px;
    border-bottom: dotted 0.5px #333;
    margin: 0px;
    height: 16px;
    display: inline-block;
    width: 50px;
}

.errHeader > h4{
    margin: 0px auto;
}

.errorboxEle{
    padding:5px;
    height:fit-content;
    width: calc( 100% - 20px ) ;
    color:rgb(255, 255, 255);
    display: block;
    font-weight: 400;
    /* word-wrap: break-word !important;
    overflow-wrap: break-word !important; */
    overflow-y: hidden;
    box-sizing: border-box;
    text-align: left;
    /* float: right; */
    font-size: 11px;
    border-bottom: solid 0.5px rgb(113, 45, 45);
    margin:0px auto 5px auto;
}

.errorboxEle > span{
    width: 100%;
}

.error-box-closer{
    height:20px;
    width: 20px;
    /* display: inline-block; */
    float: left;
    margin:0px;
    color: #fff;
    font-weight: bold;
    border:none;
    background-color: rgb(10, 11, 11);
    border-radius: 10px;
    font-size: 10px;
    cursor: pointer;
}
.error-box-closer:hover{
    background-color: #fff;
    color: rgb(10, 11, 12);
}

#loadingbttn{
    z-index: 2100 !important;
    position:absolute;
    height:170px;
    width: 120px;
    top: calc(50vh - 60px);
    left: calc(50vw - 60px);
    background-color: rgb(10, 11, 12);
    border-radius: 10px;
}

#loadingpopup{
    -webkit-box-align: center !important;
    /* padding: 40px !important; */
    z-index: 999999 !important;
    padding: 40px 0px;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    position:absolute;
    left: 0px;
    top: 0px;
    min-width: 100% !important;
    min-height: 100vh !important;
    box-sizing: border-box !important;
    height: 100% !important;
    background-color:rgba(255, 255, 255, .3);
    inset: 0px !important;
    display: flex !important;
    scrollbar-color: rgb(10, 11, 12);
    scrollbar-width: thin;
    backdrop-filter: blur(5px);

}

.loadingbttn_text_box{
    height: 50px; padding-top: 15px; padding-bottom: 15px; box-sizing: border-box; display: table; width: 100%;
}

.loadingbttn_text_box>span{
    display: table-cell;
}

.popup{
    -webkit-box-align: center !important;
    padding: 0px;
    margin: 0px auto;
    position:absolute;
    width: 100% !important;
    min-height: 100vh !important;
    height: 100% !important;
    overflow-y:auto;
    box-sizing: border-box !important;
    background-color:rgba(255, 255, 255, .6) !important;
    backdrop-filter: blur(5px);
    scrollbar-color: rgb(10, 11, 12);
    scrollbar-width: thin;
}

.popupdark{
    -webkit-box-align: center !important;
    padding: 0px;
    margin: 0px auto;
    position:absolute;
    width: 100% !important;
    min-height: 100vh !important;
    height: 100% !important;
    overflow-y:auto;
    box-sizing: border-box !important;
    background-color:rgba(10, 11, 12, .75) !important;
    backdrop-filter: blur(5px);
    scrollbar-color: rgb(10, 11, 12);
    scrollbar-width: thin;
}

.closeBox{
    position: fixed;
    top:20px;
    left:20px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    /* padding: 20px; */
    font-weight:800;
    user-select: none;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    line-height:normal;
    background-color: rgba(10, 11, 12, 1);
    color: white;
    border-radius: 50px;
    /*margin: 50px;*/
    outline: none;
    border:none;
    padding: 0px !important;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.popupBox{
    display:flex;
    flex-direction: column;
    width: 75vw;
    max-width: 600px;
    min-width: 100px;
    height:fit-content !important;
    box-sizing:border-box !important;
    margin: 0px auto;
    padding: 20px;
    user-select: none;
    text-align: center;
    background-color: rgba(255, 255, 255, .6);
    box-sizing: border-box;
    border-radius: 15px;
}

.createOptions{
    max-width: 460px;
    width: 92vw;
    border-radius: 20px;
    box-sizing: border-box;
    /* top: 80px; */
    margin: 80px auto auto auto;
    min-height: 100px;
    display: flexbox;
    z-index: 10;
}

.popupBoxEleDetails{
    margin: 7.5px auto;
    max-width: 600px;
    min-width: 150px;
    height: 200px !important;
    width: 200px;
    user-select: none;
    text-align: center;
    color: white;
    font-size:1.5em;
    font-weight: 700;
    border-radius: 15px;
    overflow: hidden;
}

.popupBoxEleDetailsLabel{
    /* label */
    margin: 7.5px auto;
    max-width: 600px;
    min-width: 150px;
    height: 200px !important;
    width: 200px;
    user-select: none;
    text-align: center;
    color: white;
    font-size:1.5em;
    font-weight: 700;
    border-radius: 15px;
    overflow: hidden;
    outline: none;
    border:none;
    display: table;
    background:whitesmoke;
    padding: 0px !important;
    cursor: pointer;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    line-height:normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.popupBoxEle{
    margin: 5px auto;
    max-width: 600px;
    min-width: 150px;
    height: 200px;
    text-align: center;
    background-color: rgb(10, 11, 12, 0.95);
    color: white;
    font-size:1.5em;
    font-weight: 700;
    border-radius: 25px;
    outline: none;
    border:none;
    display: table;
    width: 100%;
    padding: 0px !important;
    cursor: pointer;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    line-height:normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.popupBoxTextEle{
    width: 100% !important;
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 5px auto;
    padding: 0px 20px !important;
    box-sizing: border-box;
    max-width: 600px;
    min-width: 150px;
    height: 60px;
    user-select: none;
    text-align:left;
    background-color: rgb(243, 242, 242);
    border:none;
    color: rgb(10, 11, 12);
    font-size:1.5em;
    font-weight: 700;
    border-radius: 15px;
}

.popupBoxTextAreaEle{
    margin: 5px auto;
    padding: 20px !important;
    box-sizing: border-box;
    resize: vertical;
    max-width: 600px;
    min-width: 150px;
    height: 125px;
    width: 100%;
    user-select: none;
    text-align:left;
    background-color: rgb(243, 242, 242);
    border:none;
    color: black;
    font-size:1em;
    font-weight: 100;
    border-radius: 15px;
}

.popupBoxSmallTextAreaLeftEle{
    margin: 5px 2.5% 5px 0px;
    padding: 20px !important;
    box-sizing: border-box;
    max-width: 300px;
    min-width: 75px;
    height: 60px;
    width: 47.5% !important;
    user-select: none;
    text-align:left;
    background-color: rgb(243, 242, 242);
    border:none;
    color: black;
    font-size:1em;
    font-weight: 100;
    border-radius: 15px;
}

.popupBoxSmallTextAreaRightEle{
    margin: 5px 0px 5px 2.5%;
    padding: 20px !important;
    box-sizing: border-box;
    max-width: 300px;
    min-width: 75px;
    height: 60px;
    width: 47.5% !important;
    user-select: none;
    text-align:left;
    background-color: rgb(243, 242, 242);
    border:none;
    color: black;
    font-size:1em;
    font-weight: 100;
    border-radius: 15px;
}

/*------------- Random Generator section -------------*/
.contractUploadBox{
    cursor: pointer;
    height: 40px;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px ;
    transition: border .15s linear;
    width: 100%;
    display: table;
    align-content: center;
    border:rgb(52, 52, 52) 0.5px solid;
    border-radius: 5px;    
}

.generatorRightPanelAddNewLayer {
    cursor: pointer;
    height: 60px;
    box-sizing: border-box;
    margin: 10px 0px 0px 0;
    padding: 5px ;
    transition: border .15s linear;
    width: 100%;
    display: table;
    align-content: center;
    border:rgb(255, 255, 0) 1px solid;
    background-color: rgb(255, 255, 0, 0);
    border-radius: 5px;
    /* font */
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
    color: yellow;
    /* jhfjhfh */
}

.generatorRightPanelAddNewLayer:hover { background: yellow; border:none; color: #000 !important; }

.generatorRightPanelAddNewLayer > h1 {
    font-size: 40px;
    font-weight: 800;
    color: yellow;
    padding: 0px 0px 5px 0px;
    display: table-cell;
}

.delBG{
    height:20px;
    width: 20px;
    float: right;
    color: #444;
    font-weight: bold;
    border: rgb(10, 11, 12) solid 1px;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
    font-size: 10px;
    cursor: pointer;
    user-select: none;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-align: center;
    text-shadow: none;
}

.del_singleIMG{
    height:30px;
    width: 30px;
    float: right;
    display: block;
    margin-right: 10px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    border: rgb(10, 11, 11) solid 0.5px;
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
    font-size: 10px;
}

.coll_name_box{
    width: 93vw;
    max-width: 1000px;
    /* background-color: rgb(10, 11, 11); */
    padding: 10px 30px;
    margin: 10px auto 0px auto;
    box-sizing: border-box;
    border-radius: 20px;
}

.coll_name_box > h2{
    color:whitesmoke;
}

.generatorRightPanelAddNewBG > h1:hover { color: #000;}

.generatorRightPanelAddNewBG:hover { background: yellow; border:none; color: #000 !important; }

.generatorRightPanel{
    bottom: 46px;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    right: 0;
    height: 100vh;
    top: 0;
    width: 110px;
    z-index: 98;
    background-color: rgb(11, 11, 18);
}

.layer-box{
    background-color: var(--panel-color);
    display: flex;
    flex: 2;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.regularText{
    font-size: 15px;
    height:fit-content;
    line-height:normal;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    margin: 10px 0px;
    width: 100%;
    display: flex;
    color: whitesmoke;
}

.regularText > span{
    color: rgb(181, 181, 181);
    font-size: 12px;
    height:fit-content;
    text-align: left;
    vertical-align: middle;
}

.editBoxTitle{
    height:fit-content;
    line-height:normal;
    vertical-align: middle;
    text-align: center;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
}

.editBoxTitle > h2{
    color: whitesmoke;
    font-size: 22px;
    font-weight: 600;
    height:fit-content;
    margin: 0px;
    vertical-align: middle;
}

.generatorRightPanelTitle{
    font-size: 16px;
    height:fit-content;
    line-height:normal;
    vertical-align: middle;
    text-align: center;
    border-top:solid rgb(52, 52, 52) 1px;
    position: relative;
    padding: 10px 0px 0px 0px;
    width: 100%;
    display: flex;
    color: whitesmoke;
}

.generatorRightPanelTitle > span{
    color: #999;
    font-size: 11px;
    height:fit-content;
    text-align: left;
    vertical-align: middle;
}

.generatorRightPanelTitle > h1 {
    color: whitesmoke;
    font-size: 24px;
    height:fit-content;
    margin: 0px;
    vertical-align: middle;
}

.generatorRightPanelTitle > h2 {
    color: whitesmoke;
    font-size: 20px;
    height:fit-content;
    margin: 0px;
    vertical-align: middle;
}

.generatorRightPanelTitle > h3 {
    color: whitesmoke;
    font-size: 18px;
    height:fit-content;
    margin: 0px;
    vertical-align: middle;
}

.generatorRightPanelTitle > h4 {
    color: whitesmoke;
    font-size: 12px;
    font-weight:600;
    height:fit-content;
    margin: 0px;
    vertical-align: middle;
}

.generatorRightPanelAddNewBG{
    cursor: pointer;
    height: 50px;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px ;
    transition: border .15s linear;
    width: 100%;
    display: table;
    align-content: center;
    border-bottom:dotted rgb(52, 52, 52) 2px ;
}

.generatorRightPanelAddNewBG > h1{
    font-size: 40px;
    font-weight: 800;
    color: yellow;
    padding: 0px 0px 5px 0px;
    display: table-cell;
}

.layer-box-content{
    flex-grow: 2;
    height: fit-content;
    height:70px;
}

.title{
    color:#000;
}
.generatorRightPanelLayerBox{
    cursor: default;
    letter-spacing: 0;
    margin: 0px 0px 10px 0px;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    background-color: rgb(190, 190, 190);
    color:#fff;
    border-radius: 7.5px;
    display: table;
}

.generatorRightPanelLayerBox-title{
    width: fit-content;
    max-width: 100%;
    background: none !important;
    clear: both;
    overflow: hidden;
    margin: 0px auto;
    padding: 2.5px 0px; 
}

.whiteColor{
    color:#fff !important;
}

.generatorRightPanelLayerBox-title > span{
    height: 17.2px;
    background: none !important;
    overflow: hidden;
}

.generatorRightPanelLayerBox-title-img{
    background: none !important;
}

.generatorRightPanelLayerBox-title-img-div{
    width: fit-content;
    height:fit-content;
    background: none !important;
    max-width: 100%;
    overflow: hidden;
    margin: 0px auto;
    padding: 2.5px 0px; 
}

.rotateExpander{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.expander-box{
    width: 25% !important;
    height: 60px !important;
    /* display: block; */
    float: left;
    cursor: pointer;
    color: #444;
    font-size: 10px;
    border-bottom-left-radius: 7.5px;
    border-top-left-radius: 7.5px;
    background-color: rgb(190, 190, 190);
    border-right:solid 2px rgb(48, 48, 48);
    border-top:none;
    border-bottom:none;
    border-left:none;
    overflow: hidden;
    margin:0px;
}

.expander-box > span{
    background: none;
}

.expander-box:hover{
    background-color: rgb(129, 129, 129) !important;
    border-right:solid 2px rgb(48, 48, 48) !important;
    border-top:none !important;
    border-bottom:none !important;
    border-left:none !important;
    color:#444;
}

.edit-trait-box{
    width: 10% !important;
    height: 50px !important;
    width: 50px !important;
    padding: 5px 0px;
    /* display: block; */
    float: right;
    cursor: pointer;
    border-left:solid 0.5px rgb(48, 48, 48);
    overflow: hidden;
    margin:0px;
}

.edit-trait-img-div{
    height: 20px;
    width: 20px;
    padding: 15px;
}

.edit-bg-box{
    width: 10% !important;
    height: 40px !important;
    width: 40px !important;
    padding: 0px;
    /* display: block; */
    float: right;
    cursor: pointer;
    border-left:solid 0.5px rgb(48, 48, 48);
    overflow: hidden;
    margin:0px;
}

.edit-bg-img-div{
    height: 20px;
    width: 20px;
    padding: 10px;
}

.LayerOptionsBox{
    /* position: absolute; */
    max-width: 460px;
    width: 92vw;
    /* left: calc(50vw - 230px); */
    background-color: rgb(10, 11, 12);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
    /* top: 80px; */
    margin: 80px auto auto auto;
    height: fit-content;
    min-height: 100px;
    display: flexbox;
    z-index: 10;
}

.LayerNameBox{
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 15px 0px;
    border-bottom: #666 dotted 0.5px;
}

.LayerName{
    width: 100% !important;
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 5px auto;
    padding: 0px 20px !important;
    box-sizing: border-box;
    min-width: 100%;
    height: 50px;
    user-select: none;
    text-align:left;
    background-color: rgb(243, 242, 242);
    border:none;
    color: black;
    font-size:1.25em;
    font-weight: 700;
    border-radius: 10px;
}

.traitName{
    width: 100% !important;
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* margin: 5px auto; */
    /* padding: 0px 5px !important; */
    box-sizing: border-box;
    /* min-width: calc(100% - 25px); */
    /* float:left; */
    height: 20px;
    user-select: none;
    text-align:left;
    background-color: rgb(190, 190, 190);
    border:none;
    color: rgb(240, 240, 240);
    font-size:.75em;
    font-weight: 700;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.traitNameBox{
    width: 70px !important;
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* margin: 5px auto; */
    /* padding: 0px 5px !important; */
    box-sizing: border-box;
    /* min-width: calc(100% - 25px); */
    float:left;
    height: 20px;
    user-select: none;
    text-align:left;
    background-color: rgb(190, 190, 190);
    border:none;
    color: #444;
    font-size:.75em;
    font-weight: 700;
    border-radius: 10px;
}

.edit-trait-img-svg{
    height:20px;
    width: 20px;
    float: right;
    color: #444;
    font-weight: bold;
    border: rgb(129, 129, 129) solid 1px;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
    font-size: 10px;
    cursor: pointer;
    user-select: none;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-align: center;
    text-shadow: none;
}

.LayerUpldBox{
    display: flexbox;
    height:fit-content;
}

.LayerUpldBoxTitle{
    padding:20px 0px 5px 0px;
    color:#444;
    text-align: left;
    font-weight: bold;
    border-bottom: dotted 0.5px #555;
    margin: 0px 0px 10px 0px;
}

#selectBG{
    height: 70px !important;
}
.inactiveLayerUpldBttn{
    box-sizing: border-box;
    height: 100px;
    width: 100% !important;
    display:inline-block !important;
    background-color: rgb(113, 113, 113);
    border-radius: 7.5px;
    border: none;
    padding: 20px;
    margin: 5px 0px;
    font-size: 1.4em;
    font-weight: bold;
}

.LayerUpldBttn{
    box-sizing: border-box;
    height: 100px;
    width: 100% !important;
    display:table !important;
    background-color: #fff;
    border-radius: 7.5px;
    border: none;
    padding: 10px;
    margin: 5px 0px;
    font-size: 1.4em;
    font-weight: bold;
}

.LayerUpldBttn > h1 {
    font-size: 60px;
    color: rgb(10, 11, 12);
    padding: 0px 0px 5px 0px;
    display: table-cell;
}

.LayerUpldBttn>img{
    height: 100%;
}

.delLayerBttn{
    box-sizing: border-box;
    height: 40px;
    width: 100% !important;
    display:inline-block !important;
    background-color: rgb(255, 255, 255);
    border-radius: 7.5px;
    border: none;
    padding: 10px;
    margin: 5px 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.nodelLayerBttn{
    box-sizing: border-box;
    height: 70px;
    width: 100% !important;
    display:inline-block !important;
    background-color: rgb(255, 255, 255);
    border-radius: 7.5px;
    border: none;
    padding: 20px;
    margin: 5px 0px;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
}

.makepriorityLayerBttn{
    box-sizing: border-box;
    height: 40px;
    width: 100% !important;
    display:inline-block !important;
    background-color: rgb(129, 129, 129);
    border-radius: 7.5px;
    border: none;
    padding: 5px;
    margin: 5px 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.makepriorityLayerBttn{ background-color: rgb(129, 129, 129) !important; }
.disablepriorityLayerBttn{
    box-sizing: border-box;
    height: 40px;
    width: 100% !important;
    display:inline-block !important;
    background-color: rgb(0, 172, 37);
    border-radius: 7.5px;
    border: none;
    padding: 5px;
    margin: 5px 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.disablepriorityLayerBttn:hover{ background-color: rgb(0, 172, 37) !important; }

.ispriorityLayerOption{
    height:100%;
    width:50%;
    float:right;
    border-radius: 6px;
    background-color: rgb(255, 255 ,255);
    font-weight: bold;
    border: none;
    display: table;
    color: rgb(0, 172, 37);
    cursor:pointer;
}

.ispriorityLayerOption > span{
    display: table-cell;
    vertical-align: middle;
}

.ispriorityLayerOption:hover{ background-color: rgb(255, 255 ,255) !important; color: rgb(0, 172, 37) !important;}

.notpriorityLayerOption{
    height:100%;
    width:50%;
    float: left;
    color:rgb(129, 129, 129);
    border-radius: 6px;
    display: table;
    background-color: rgb(255, 255 ,255);
    font-weight: bold;
    border: none;
    cursor:pointer;
}

.notpriorityLayerOption > span{
    display: table-cell;
    vertical-align: middle;
}

.notpriorityLayerOption:hover{ background-color: rgb(255, 255 ,255) !important; color: rgb(129, 129, 129) !important; }

.renameLayerBttn{
    box-sizing: border-box;
    height: 40px;
    width: 100% !important;
    display:inline-block !important;
    background-color: rgb(255, 255, 255);
    border-radius: 7.5px;
    border: none;
    padding: 10px;
    margin: 5px 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.delLayerBttn:hover { background: red; border:none; color: #fff;}

.nodelLayerBttn:hover { background: yellow; border:none; color: rgb(10, 11, 12);}

.LayerUpldBttn:hover{ background-color: yellow; cursor: pointer; color: rgb(10, 11, 12);}

.detail-edit-trait-box{
    height: fit-content;
    min-height: 200px;
    width: 100%;
    max-width: 1000px;
    clear: both;
    padding-top: 20px;
    position:relative;
    border-radius: 8px;
    z-index: 9999999;
    background-color: rgb(129, 129, 129, 0.98);
}

.LayerUpldContentBx{
    box-sizing: border-box;
    width: 100px;
    height: 123.27px;
    padding: 0px;
    clear: both;
    margin: 0px auto;
    border-radius: 5px;
    display: inline-block;
}

.LayerUpldContentBxAdd{
    box-sizing: border-box;
    width: 95%;
    height: fit-content;
    font-size: 30px;
    font-weight: 500;
    border: none;
    line-height: normal;
    color: rgb(129, 129, 129);
    padding: 0px;
    /* border: solid 2px rgb(90, 90, 90); */
    background:rgb(48, 48, 48);;
    clear: both;
    margin: 0px auto 10px auto;
    cursor: pointer;
    border-radius: 7px;
    display:block;
}

.LayerUpldContentBxAdd:hover{
    background:rgb(90, 90, 90);
    color: rgb(129, 129, 129);
}

.LayerUpldContentContainerAdd{
    box-sizing: border-box;
    width: 100%;
    height:100%;
    padding: 4px;
    margin: 0px;
}

.LayerUpldContent{
    box-sizing: border-box;
    width: 100px;
    height:fit-content;
    padding: 5px;
    margin: 0px auto;
    border-radius: 5px;
}
.LayerUpldContent > img{
    border-radius: 5px;
    background-color: rgb(190, 190, 190);
    box-sizing: border-box;
    object-fit: cover; height: 90px; width: 90px;
}

.LayerUpldContentBox{
    box-sizing: border-box;
    width: 100px !important;
    height: 100px !important;
    height:fit-content;
    padding: 5px;
    display: inline-block;
    margin: 0px auto;
    border-radius: 5px;
}

.LayerUpldContentBox > img{
    border-radius: 5px;
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    object-fit: cover !important; 
    height: 100%; width: 100%;
}

.layerContentBox{
    width:100%;
    height: fit-content;
    margin: 0px auto;
    /* max-height: 300px; */
}

.LayerbgAdd{
    box-sizing: border-box;
    width: 50px;
    height: 65px;
    padding: 0px;
    margin: 10px 5px 5px 5px;
    cursor:pointer;
    color: rgb(190, 190, 190);
    border-radius: 5px;
    font-size: 8px;
    font-weight: 500;
    display: inline-block;
    border: solid 1px rgb(190, 190, 190);
    /* background-color: #2269cf; */
}

.LayerbgAdd:hover {
    /* background-color: rgb(0, 3, 10); */
    color: rgb(255, 255, 0);
    border:solid 1px rgb(255, 255, 0);
}

.LayerbgAdd:hover, .LayerbgContentadd {
    border-bottom: 2px solid rgb(255, 255, 0);
}
.LayerbgAdd>span{
    float: left;
    width: 100%;
    margin: 0px auto;
}

.LayerbgContentadd{
    box-sizing: border-box;
    width: 40px;
    height:40px;
    padding: 0px;
    margin: 5px auto 2.5px 4.25px;
    border-radius: 5px;
    border-bottom: 2px solid rgb(190, 190, 190);
    display: table;
    font-size: 28px;
    font-weight: 800;
    float: left;
}

.LayerbgContentadd > span{
    display: table-cell;
    width: 30px;
    height: 30px;
}

.RandomGenerator{
    display:flex;
    flex-direction: column;
    width: 95vw;
    max-width: 1100px;
    height:fit-content !important;
    margin: 90px auto 0px auto;
    padding: 1vw;
    user-select: none;
    text-align: center;
    background-color: rgb(10, 11, 11, .95);
    box-sizing: border-box;
    /* border: 0.5px solidrgb(52, 52, 52); */
    border-radius: 25px;
}

.LayerGenBox{
    /* position: absolute; */
    width: 93vw;
    max-width: 1000px;
    background-color: rgb(10, 11, 12, .8);
    border-radius: 20px;
    border: 0.5px solid rgb(52, 52, 52);
    box-sizing: border-box;
    padding: 30px;
    margin: 20px auto;
    height: fit-content;
    height: -moz-fit-content;
    min-height: fit-content;
    /* display: flexbox; */
    /* z-index: 10; */
}

.BGGenBox{
    /* position: absolute; */
    width: 93vw;
    max-width: 1000px;
    background-color: rgb(10, 11, 11);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
    margin: 30px auto;
    height: fit-content;
    height: -moz-fit-content;
    min-height: fit-content;    
    /* display: flexbox; */
    /* z-index: 10; */
}

.sortable-handler{
    position: absolute !important;
    user-select: none !important;
    -ms-user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: nonse !important;
    background-color: rgba(97, 97, 97, 0.5) !important;
}

.betweenItem{
    border-bottom: #fff solid 4px;
    /* background-color: aquamarine; */
}

.betweenItem_two{
    border-top: #fff solid 4px;
    /* background-color: aquamarine; */
}

.bg_container_Box{
    flex-grow: 2;
    height: fit-content;
}

.bg_title_box{
    cursor: default;
    letter-spacing: 3;
    margin: 10px 0px 0px 0px;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    padding: 5px;
    background-color: rgb(129, 129, 129);
    color:rgb(10, 11, 11);
    border-radius: 15px;
    display: table;
    font-weight:600;
}

.BG_UpldContentBx{
    box-sizing: border-box;
    width: 50px;
    height: 80px;
    padding: 0px;
    margin: 0px auto;
    border-radius: 5px;
    display: inline-block;
    
}

.BG_UpldContent {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px auto;
    border-radius: 5px;
    /* display: inline-block; */
    float: left;
}

.BG_UpldContent > img {

    box-sizing: border-box;
    object-fit: cover; height: 100%; width: 100%;
    border-radius: 5px;
    background-color: rgb(190, 190, 190);

}

.BG_traitNameBox{
    width: 100% !important;
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* margin: 5px auto; */
    /* padding: 0px 5px !important; */
    box-sizing: border-box;
    /* min-width: calc(100% - 25px); */
    float:left;
    height: 20px;
    user-select: none;
    text-align:left;
    background-color: rgb(190, 190, 190);
    border:none;
    color: #444;
    font-size:.75em;
    font-weight: 700;
    border-radius: 5px;
}

#pissingD{
    /* padding:"10px 0px", height:"52px", maxHeight:"70px", width:"100%", display:"flex", flexDirection:"row", overflowX: "hidden", overflowY: "hidden" */
    padding: 10px 0px;
    height:52px;
    max-height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x:auto;
    overflow-y:hidden;
    scrollbar-color: rgb(10, 11, 12) !important;
    scrollbar-width: thin !important;
}

.contract-box{
    border: solid 0.5px rgb(52, 52, 52);
    border-radius: 20px;
    background-color: rgb(10, 11, 12);
    width: 100%;
    height: fit-content;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

.expander-div{
    width: 100%;
    background-color:rgb(10, 11, 12);
    height: 30px;
    border-bottom-left-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 11px;
    border-top: 1px solid rgb(34, 34, 34);
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin: -10px 0px 10px 0px;
}

.expander-div:hover{
    background-color: rgb(10, 11, 11) !important;
    color: rgb(190, 190, 190);
}

.contract-deployed-container{
    height: fit-content !important;
    border: 0.5px solid rgb(52, 52, 52);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 25px;
    overflow-y: hidden;
}

.nftSamples-contracted-container{
    height: 200px !important;
    max-height:200px !important;
    border: 0.5px solid rgb(52, 52, 52);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    overflow-y: hidden;
}

.nftSamples-expanded-container{
    height: fit-content !important;
    border: 0.5px solid rgb(52, 52, 52);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

.contract-container{
    height: 100px;
    overflow-y: hidden;
}

.contract-container-expanded{
    height:fit-content;
    overflow-y: hidden;
}

#contract-container>h2{
    color: #fff;
    border-bottom: solid 0.5px rgb(52, 52, 52);
}

#contract-container>span{
    color: #888;
}

.contractContainer{
    display: inline-block;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.contractName{
    width: calc( 97% - 40px) !important;
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px 3% 0px 0px !important;
    padding: 0px 20px !important;
    box-sizing: border-box;
    max-width: calc( 97% - 40px) !important;
    min-width: calc( 97% - 40px) !important;
    height: 40px;
    user-select: none;
    text-align:left;
    background-color: rgb(10, 11, 12);
    border:solid 0.5px rgb(52, 52, 52) !important;
    box-sizing: border-box !important;
    color: #555;
    font-size:14px;
    font-weight: 500;
    border-radius: 10px;
}

.contractNameContainer{
    width: 50% !important;
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box;
    min-width: 50%;
    height: 40px;
    border:none;
    /* display: flex; */
    /* flex-direction: row; */
    float: left;
}

.contractSymbol{
    width: calc( 97% - 50px) !important;
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px 0px 3% 0px !important;
    padding: 0px 20px !important;
    box-sizing: border-box;
    max-width: calc( 97% - 50px) !important;
    min-width: calc( 97% - 50px) !important;
    height: 40px;
    user-select: none;
    text-align:left;
    background-color: rgb(10, 11, 12);
    border:solid 0.5px rgb(52, 52, 52) !important;
    box-sizing: border-box !important;
    color: rgb(83, 83, 83);
    font-size:14px;
    font-weight: 500;
    border-radius: 10px;
}

.contractSymbolContainer{
    width: 50% !important;
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box;
    min-width: 48%;
    height: 40px;
    border:none;
    float: left;
}

.contractNameText{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: left;
    margin: 0px;
    box-sizing: border-box;
    padding: 9.5px 0px;
    float: left;
    color: rgb(255, 255, 255);
}

.contractSymbolText{
    width: 50px;
    height: 40px;
    vertical-align: middle;
    text-align: left;
    margin: 0px;
    box-sizing: border-box;
    padding: 9.5px 0px;
    float: left;
    color: rgb(255, 255, 255);
}

.contractNameText > span{
    height: 18px;
    margin-top: 12px;
}

.sampleImage{
    background-color: rgb(52, 52, 52);
}