.contractEditorTitle{
    font-size: 17px;
    height:fit-content;
    line-height:normal;
    vertical-align: middle;
    text-align: center;
    position: relative;
    padding: 0px;
    width: 100%;
    display: flex;
    color: whitesmoke;
}

.contractEditorTitle > span{
    color: rgb(255, 255, 0);
    font-size: 11px;
    height:fit-content;
    text-align: left;
    padding: 15px;
    vertical-align: middle;
}

.contractEditorTitle > h2 {
    color: whitesmoke;
    padding: 0px 20px 20px 20px;
    font-size: 24px;
    border-bottom:solid rgb(52, 52, 52) 1px;
    width: 100%;
    text-align: center;
    height:fit-content;
    margin: 0px;
    vertical-align: middle;
}

.contractEditorToolBar{
    width:100% !important;
    background-color: transparent !important;
    box-sizing: border-box !important;
    height:fit-content !important;
    padding: 0px;
    margin: 0px 0px 20px 0px !important;
    border-radius: 20px !important;
    display: flex !important;
    flex-direction: row;
}

.toolBarElement{
    color: #fff;
    width: fit-content !important;
    height: 40px !important;
    border: 1px solid rgb( 52, 52, 52 ) !important;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 1% 0px 0px;
    display: flex;
    flex-direction: row;
    padding: 9px !important;
    vertical-align: middle;
}

.toolBarElement:hover{
    background-color: transparent !important;
    color: #fff !important;
    /* border: 3px solid rgb( 52, 52, 52 ); */
    outline: 2px solid rgb( 52, 52, 52 );
}

.toolBarElement > img {
    height: 20px !important;
    padding: 0px;
}

.toolBarElement > span {
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    height: 18px;
    margin: auto auto auto 7.5px;
}

.toolBarElement > h2 {
    font-size: 18px;
    font-weight:800;
    color: yellow;
    line-height: 18px;
    text-align: left;
    height: 20px;
    margin: 0px;
}

.solTabsWrapper{
    height: 30px;
    width: calc( 100% - 40px );
    /* background-color: #555; */
    margin: 0px;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
}

.solTabs{
    height: 30px;
    border-top: 1px solid rgb( 52, 52, 52 );
    border-left: 1px solid rgb( 52, 52, 52 );
    border-right: 1px solid rgb( 52, 52, 52 );
    width: 10%;
    padding: auto 0px;
    color: #fff;
    cursor: pointer;
    font-size: 8px;
    padding: 0px;
    box-sizing: border-box;
    display: inline-block;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
    margin-right: 5px;
}

.solTabs > span{
    width: 100%;
    overflow: hidden;
    margin: auto 0px;
}

.editor {
    flex-direction: row;
    display: flex;
    /* gap: 10px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 21px;
    background-color: transparent;
    border: 1px solid rgb( 52, 52, 52 );
    border-radius: 20px;
    padding: 20px 1%;
    width: 100%;
    margin: 0px 0px 20px 0px;
    box-sizing: border-box;
}

.lineNumbers {
    width: fit-content;
    flex-direction: column;
    margin: 0px;
    font-size: 9px !important;
    line-height: 21px;
    padding-right: 5px;
    height: fit-content;
    display: inline-block;
    text-align: right;
}

.lineNumbers span {
    counter-increment: linenumber;
}
  
.lineNumbers span::before {
    content: counter(linenumber);
    display: block;
    color: #506882;
}

.solidityEditor{
    text-align: left;
    width: calc( 100% - 35px) !important;
    display: inline-block;
    padding: 10px;
    min-height: 500px;
    white-space: nowrap;
    font-size: 9px !important;
    height: fit-content;
    margin: 0px 0px 0px auto;
    border-radius: 10px;
    overflow-x: auto;
    line-height: 21px;
    overflow-y: hidden;
    padding: 0;
    border: 0;
    outline: none;
    min-width: 90px;
    resize: none;
}