.inactive{
    display: none !important; visibility: hidden !important; 
}

.active{
    display: none !important; visibility: hidden; opacity: 0; width: 0px; height: 0px !important; overflow: hidden !important;
}

.errorbox{
    z-index: 1800 !important;
    padding: 5px !important;
    box-sizing: border-box;
    width:fit-content;
    position: absolute;
    /* top: 20px; */
    right: 20px !important;
    max-width: 200px;
    min-width: 150px;
    height:fit-content;
    user-select: none;
    background-color: rgb(196, 27, 24);
    border:none;
    border-radius: 15px;
}

.errorbox:after {
	bottom: 100%;
	left: 25px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(196, 27, 24, 0);
	border-bottom-color: rgb(196, 27, 24);
	border-width: 10px;
	margin-left: -10px;
}

.errorboxEle{
    padding:5px;
    height:fit-content;
    width: calc( 100% - 20px ) ;
    color:rgb(255, 255, 255);
    display: block;
    font-weight: 400;
    /* word-wrap: break-word !important;
    overflow-wrap: break-word !important; */
    overflow-y: hidden;
    box-sizing: border-box;
    text-align: left;
    /* float: right; */
    font-size: 10px;
    border-bottom: solid 0.5px rgb(113, 45, 45);
    margin:0px auto 5px auto;
}

.errorboxEle > span{
    width: 100%;
}

.error-box-closer{
    height:25px;
    width: 25px;
    display: block;
    margin:0px;
    color: #fff;
    font-weight: bold;
    border:none;
    background-color: rgb(10, 11, 11);
    border-radius: 12.5px;
    font-size: 10px;
    cursor: pointer;
}

.error-box-closer:hover{
    background-color: #fff;
    color: rgb(10, 11, 11);
}

#modalpopup{
    -webkit-box-align: center !important;
    z-index: 999999 !important;
    padding: 20px 0px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    position:absolute;
    left: 0px;
    top: 0px;
    min-width: 100% !important;
    min-height: 100vh !important;
    box-sizing: border-box !important;
    height: 100% !important;
    background-color:rgba(255, 255, 255, .3);
    inset: 0px !important;
    display: flex !important;
    scrollbar-color: rgb(10, 11, 11);
    scrollbar-width: thin;
    backdrop-filter: blur(5px);
}

#modalBox{
    z-index: 2100 !important;
    height:fit-content !important;
    width: 50vw !important;
    margin: 100px auto 0px auto !important;
    padding: 30px !important;
    color: white;
    /* top: calc(50vh - 60px);
    left: calc(50vw - 60px); */
    background-color: rgb(10, 11, 11);
    border-radius: 20px;
}

.modalSuubmit{
    width:100% !important;
    height: 50px !important;
    border-radius: 10px;
    font-weight: 800 !important;
    font-size: 20px !important;
    margin: 10px 0px 0px 0px !important;
    cursor: pointer;
}
